<h2>New Goal</h2>

<form action="<%= goals_url %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label>
        Title
        <input type="text" name="goal[title]" value="" >
    </label>

    <label>
        Body
        <input type="text" name="goal[body]" value="" >
    </label>

    <label>
        Public?
        <input type="checkbox" name="goal[public]">
    
    </label>

    <label>
        Completed?
        <input type="checkbox" name="goal[completed]">
    </label>

    <input type= "submit" value="New Goal">

</form>